body {
	background-color: #F2EC91;
  background-image: -moz-linear-gradient(0% 100% 90deg, #F2EC91, #F0EC2B);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0EC2B), to(#F2EC91));
}